:host {
    display: block;
    padding: 1rem;
    box-sizing: border-box;
}


.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
}

mat-form-field {
    width: 100%;

    ::ng-deep .mat-input-element {
        padding: 0.5rem;
    }
}

textarea {
    resize: vertical;
    min-height: 100px;
    padding: 0.5rem;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 2rem;
}  